<h1> <%= link_to "Back to Home", posts_path %> </h1>

<div>
  <p> Comment Title: <%= @comment.title %>
    <% if @comment.post.user_id == current_user["id"] %>
    <%= link_to "(Edit)", edit_post_comment_path(@post, @comment) %>
    <% end %>
  </p>
  <p> Author: <%= @comment.author %> </p>
  <p> <%= @comment.content %> </p>
</div>
