<h1> <%= link_to "Home", posts_path %>
    <%= link_to "Create New Post", new_post_path %>
</h1>

  <% @posts.each do |post| %>
  <div>
    <p> Post Title: <%= link_to "#{post.title}", post_path(post) %> </p>
    <p> Author: <%= post.author %> </p>
    <p> <%= post.content %> </p>
    <p> <%= link_to "(Add Comment)", new_post_comment_path(post) %> </p>
</div>
  <% end %>
