<h1>Posts <%= link_to "(Create)", new_post_path %> </h1>

<p>
  <% @posts.each do |post| %>
  <p> <%= link_to "#{post.title}", post_path(post) %> </p>
  <p>  <%= post.author %> </p>
  <p>  <%= post.content %> </p>
  <p> <%= link_to "(Add Comment)", new_post_comment_path(post) %> </p>
  <% end %>
</p>
