<h1> <%= link_to "Back to Home", posts_path %> </h1>

<div>
  <p> Post Title: <%= @post.title %>
  <% if @post.user_id == current_user["id"] %>
  <%= link_to "(Edit)", edit_post_path(@post) %>
  <% end %>
  </p>
  <p> Author: <%= @post.author %> </p>
  <p> <%= @post.content %> </p>
</div>

<% @post.comments.each do |comment| %>
  <div>
    <p> Comment Title: <%= link_to "#{comment.title}", post_comment_path(@post, comment) %> </p>
    <p> Author: <%= comment.author %> </p>
    <p>  <%= comment.content %> </p>
  </div>
<% end %>
