<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Scribble Blog</h1>
    <nav>
      <% if session[:is_signed_in] %>
        <a href="/signout"><%= session[:user]["username"] %>: sign out</a></h2>
      <% else %>
        <a href="/signin">Sign in</a>
      <% end %>
    </nav>

<%= yield %>

</body>
</html>
