<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav>
      <% if session[:is_signed_in] %>
        <a href="/signout"><%= session[:user]["username"] %>: sign out</a></h2>
      <% else %>
        <a href="/signin">Sign in</a>
      <% end %>
        <a href="/comments">Comments</a>
        <a href="/posts">Posts</a>
    </nav>

<%= yield %>

</body>
</html>
